<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CodeHollow.FeedReader" version="1.2.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="HtmlAgilityPack" version="1.5.1" targetFramework="net461" />
  <package id="log4net" version="2.0.10" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
</packages>